$font-primary	: 'Cinzel', serif;
$font-base		: Helvetica;

$font-sm		: 15px;
$font-md		: 18px;
$font-lg		: 28px;
$font-xlg		: 38px;

$font-color		: #ffffff;
$nav-color		: #44626c;
$main-color		: #a5b18b;

$bold 			: bold;
$italic			: italic;

$font-red 		: red;
$font-nb 		: navyblue;