/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 
 * */
@import url("https://fonts.googleapis.com/css?family=Cinzel");
/* line 5, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/base/_base.scss */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #222;
}

/* line 8, ../sass/base/_base.scss */
::-webkit-scrollbar {
  width: 5px;
  background-color: #222;
}

/* line 14, ../sass/base/_base.scss */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #222;
}

/* line 20, ../sass/base/_base.scss */
body {
  font-family: Helvetica;
  font-size: 18px;
}

/* line 24, ../sass/base/_base.scss */
i {
  font-style: italic;
}

/* line 25, ../sass/base/_base.scss */
strong {
  font-weight: bold;
  font-size: 18px;
}

/* line 29, ../sass/base/_base.scss */
.navbar-fixed-top {
  position: fixed;
}

/* line 33, ../sass/base/_base.scss */
.font-md {
  font-size: 25px !important;
}

/* line 1, ../sass/components/_sections.scss */
.block-featured {
  padding: 90px 10px;
  background-color: #30464d;
  color: #ffffff;
  line-height: 25px;
}
/* line 6, ../sass/components/_sections.scss */
.block-featured .card-featured {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16), 0 10px 20px 0 rgba(0, 0, 0, 0.12);
  padding: 80px 40px;
}
/* line 10, ../sass/components/_sections.scss */
.block-featured .card-primary {
  background-color: #8d9c6d;
  border-top: 9px solid #ffffff;
  border-bottom: 9px solid #ffffff;
}
/* line 15, ../sass/components/_sections.scss */
.block-featured .card-secondary {
  background-color: #ffffff;
  color: #44626c;
  border-top: 9px solid #8d9c6d;
  border-bottom: 9px solid #8d9c6d;
}
/* line 21, ../sass/components/_sections.scss */
.block-featured .card-icon {
  margin-bottom: 10px;
  font-size: 78px;
}

/* line 27, ../sass/components/_sections.scss */
.block-main-content, .block-main-content-a {
  padding: 80px 25px;
  width: 80%;
  margin: auto;
  border-bottom: 9px solid #a5b18b;
  margin-bottom: 50px;
}
/* line 33, ../sass/components/_sections.scss */
.block-main-content strong, .block-main-content-a strong {
  font-size: 38px;
}
/* line 36, ../sass/components/_sections.scss */
.block-main-content b, .block-main-content-a b {
  font-weight: bold;
}
/* line 37, ../sass/components/_sections.scss */
.block-main-content p, .block-main-content-a p {
  line-height: 30px;
  margin-bottom: 10px;
}
/* line 41, ../sass/components/_sections.scss */
.block-main-content .icon-bookmark, .block-main-content-a .icon-bookmark {
  font-size: 18px;
}
/* line 44, ../sass/components/_sections.scss */
.block-main-content .list-c li, .block-main-content-a .list-c li {
  line-height: 35px;
  list-style: square;
}
/* line 48, ../sass/components/_sections.scss */
.block-main-content .img-dentists, .block-main-content-a .img-dentists {
  height: 200px;
  margin: 5px auto;
}

/* line 54, ../sass/components/_sections.scss */
.block-main-content-a {
  border: none;
}

/* line 59, ../sass/components/_sections.scss */
.block-main-content-no-border {
  padding: 80px 25px;
  width: 80%;
  margin: auto;
  border: none;
}
/* line 64, ../sass/components/_sections.scss */
.block-main-content-no-border strong {
  font-size: 38px;
}
/* line 67, ../sass/components/_sections.scss */
.block-main-content-no-border p {
  line-height: 30px;
  margin-bottom: 10px;
}

/* line 1, ../sass/layouts/_header.scss */
.block-showcase-primary {
  width: 100%;
  height: 550px;
  margin-top: -20px;
  margin-bottom: 0;
  border-bottom: 5px solid #8d9c6d;
}

/* line 9, ../sass/layouts/_header.scss */
.block-showcase-primary-a {
  width: 100%;
  height: 500px;
  overflow: hidden;
  margin-top: -20px;
  margin-bottom: 0;
  background-color: #cdcfd0;
  border-bottom: 5px solid #8d9c6d;
  text-align: center;
}
/* line 18, ../sass/layouts/_header.scss */
.block-showcase-primary-a .img-showcase-a {
  width: 100%;
  margin: auto;
}

/* line 1, ../sass/layouts/_footer.scss */
.footer-main {
  padding: 45px;
  background-color: #44626c;
  color: #fff;
}
/* line 5, ../sass/layouts/_footer.scss */
.footer-main .lh {
  line-height: 30px;
}
/* line 8, ../sass/layouts/_footer.scss */
.footer-main .nav-bottom-item {
  padding: 20px 10px;
}
/* line 11, ../sass/layouts/_footer.scss */
.footer-main .map-iframe {
  width: 100%;
  padding: 50px 25px;
}
/* line 15, ../sass/layouts/_footer.scss */
.footer-main a.link {
  color: #fff;
  text-decoration: none;
}
/* line 19, ../sass/layouts/_footer.scss */
.footer-main a.link:hover {
  text-decoration: underline;
}
/* line 22, ../sass/layouts/_footer.scss */
.footer-main .sosial-media {
  padding: 20px 10px;
}
/* line 24, ../sass/layouts/_footer.scss */
.footer-main .sosial-media .icon-sosial {
  color: #fff;
  margin: 5px 10px;
}
/* line 28, ../sass/layouts/_footer.scss */
.footer-main .sosial-media .icon-sosial:hover {
  color: #bdc6a9;
}

/* line 1, ../sass/layouts/_nav.scss */
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 0;
}

/* line 8, ../sass/layouts/_nav.scss */
.navbar-inverse {
  background-color: #44626c;
  border-color: #44626c;
}
/* line 11, ../sass/layouts/_nav.scss */
.navbar-inverse .navbar-header, .navbar-inverse .collapse {
  padding: 10px 15px;
  margin-right: 10px;
}
/* line 15, ../sass/layouts/_nav.scss */
.navbar-inverse .nav > .navbar-nav > li > a {
  color: #d4cece !important;
}
/* line 18, ../sass/layouts/_nav.scss */
.navbar-inverse .font-primary {
  font-family: "Cinzel", serif;
}
/* line 21, ../sass/layouts/_nav.scss */
.navbar-inverse .navbar-brand {
  color: #a5b18b;
  float: left;
  height: 50px;
  padding: 15px 5px 15px;
  font-size: 18px;
  line-height: 20px;
  width: 290px;
}
/* line 29, ../sass/layouts/_nav.scss */
.navbar-inverse .navbar-brand .brand-image {
  height: 35px;
  margin-top: -10px;
  float: left;
  margin-right: 5px;
}

/* line 38, ../sass/layouts/_nav.scss */
.navbar-inverse .navbar-header, .navbar-inverse .collapse {
  padding: 5px 15px 5px 15px;
  margin-right: 5px;
}

/* line 43, ../sass/layouts/_nav.scss */
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
  color: #fff;
  background-color: #3a545c;
}

/* line 48, ../sass/layouts/_nav.scss */
.mega-dropdown {
  position: static !important;
}

/* line 51, ../sass/layouts/_nav.scss */
.mega-dropdown-menu {
  background-color: #3a545c;
  color: #ffffff !important;
  padding: 20px 0px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
  line-height: 15px;
}
/* line 59, ../sass/layouts/_nav.scss */
.mega-dropdown-menu .nav-item-heading {
  border-bottom: 3px solid #a5b18b;
  margin-bottom: 10px;
  padding: 5px 0px;
}
/* line 64, ../sass/layouts/_nav.scss */
.mega-dropdown-menu a.mailto {
  text-decoration: none;
  color: #ffffff !important;
}
/* line 68, ../sass/layouts/_nav.scss */
.mega-dropdown-menu a.mailto:hover {
  text-decoration: underline;
}
/* line 71, ../sass/layouts/_nav.scss */
.mega-dropdown-menu b {
  font-weight: bold;
}
/* line 74, ../sass/layouts/_nav.scss */
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}
/* line 80, ../sass/layouts/_nav.scss */
.mega-dropdown-menu .office-address {
  font-style: italic;
}
/* line 83, ../sass/layouts/_nav.scss */
.mega-dropdown-menu .col-sm-4 .fix-col {
  width: 33.33333333%;
  margin-top: -0.14em;
}

/* line 89, ../sass/layouts/_nav.scss */
.navbar-inverse .navbar-nav > li > a.link-decotarion:hover {
  color: #ffffff;
  background-color: #3a545c;
}
