.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 0;
}
.navbar-inverse {
    background-color: $nav-color;
    border-color: $nav-color;
    .navbar-header, .collapse{
      padding: 10px 15px;
      margin-right: 10px;
    }
    .nav>.navbar-nav>li>a {
        color: #d4cece !important;
    }
    .font-primary{
      font-family: $font-primary;
    }
    .navbar-brand {
        color: $main-color;
        float: left;
        height: 50px;
        padding: 15px 5px 15px;
        font-size: 18px;
        line-height: 20px;
        width: 290px;
        .brand-image{
          height: 35px;
          margin-top: -10px;
          float: left;
          margin-right: 5px;
        }
    }
}

.navbar-inverse .navbar-header, .navbar-inverse .collapse {
    padding: 5px 15px 5px 15px;
    margin-right: 5px;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: darken($nav-color, 5%);
}

.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    background-color: darken($nav-color, 5%);
    color: $font-color !important;
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    line-height: 15px;
    .nav-item-heading{
      @include add-border(3px, $main-color, 'bottom');
      margin-bottom: 10px;
      padding: 5px 0px;
    }
    a.mailto{
      text-decoration: none;
      color: #ffffff !important;
    }
    a.mailto:hover{
      text-decoration: underline;
    }
    b{
      font-weight: $bold;
    }
    .dropdown-header {
      font-size: 18px;
      color: #ff3546;
      padding: 5px 60px 5px 5px;
      line-height: 30px;
    }
    .office-address{
      font-style: $italic;
    }
    .col-sm-4 .fix-col {
        width: 33.33333333%;
        margin-top: -0.14em;
    }
}

.navbar-inverse .navbar-nav>li>a.link-decotarion:hover {
    color: #ffffff;
    background-color: darken($nav-color, 5%);
}